body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(bgimg1.jpg);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(1, 1, 1, 4);
    max-width: 550px;
    
}
.container:hover{
    transform: translateY(-15px);
    box-shadow: 4px 4px 4px 6px black;
}
img{
    border-radius: 100px;
    height: 120px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #3770ec;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-style: italic;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    background: transparent;
    color: #3743f1;
    text-decoration: none;
    border-radius: 9px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #08012b;
    color: rgb(248, 247, 244);


    background-color: rgb(5, 6, 43);
    font-style: italic;
    font-size: bolder;
    box-shadow: 2px 2px 2px 2px #88bac7;
    transform: translate(2px);
}
